<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pdf Download</title>
  </head>
  <body>
    <h1>User Data</h1>
    <table>
      <thead>
        <th>Qutation name</th>
        <th>mobile No</th>
        <th>address</th>
        <th>Qutation name</th>
        <th>Qutation name</th>
      </thead>
    </table>
  </body>
</html>
